@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(233, 233, 233, 0.3);
  height: fit-content;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;
  animation: loaderOpacity 1s ease-in-out 1;
}

@keyframes loaderOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loader:after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
